
<ion-header >
  <ion-toolbar>
    <h1>Home</h1>
    <ion-buttons slot="end">
      <ion-button (click)="goProfile()">
        <ion-icon size="large" class="profil" name="person-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>

  <ion-toolbar>

    <ion-searchbar (click)="addItEmpty()" show-cancel-button="focus" (ionCancel)="closeSearchBar()"
      placeholder="Recherche un item spécifique" [(ngModel)]="searchTerm" animated="true"></ion-searchbar>
    <!-- <ion-button slot="end" (click)="closeSearchBar()"> Annuler </ion-button> -->
  </ion-toolbar>
  <div *ngIf="listItemBool">
  <form #Form="ngForm" >
    <ion-item>
      <label>Prix:</label>
      <ion-range min="1" max="200" step="1" dual-knobs="true"  pin ="true" color="secondary" (ionChange)="testChange($event)"(ionChange)="updateBare()"></ion-range>

    </ion-item>
    <ion-list>
      <ion-item *ngFor="let entry of types">
        <ion-label>{{entry.val}}</ion-label>
        <ion-checkbox (ionChange) ="changeValueCheckbox($event)" slot="end" [(ngModel)]="entry.isChecked"  [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>
    </ion-list>
  </form>
</div>

  <ion-list>

    <h2 *ngIf="listItemBool">Résultats de la recherche</h2>
    <ion-item  (click)="locateItem(item)" *ngFor="let item of items | filter:searchTerm">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.picture"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <p>
          {{item.name}}
        </p>

        <ion-badge color="success">
          {{item.label}}

        </ion-badge>
      </ion-label>
      <!--<ion-label>{{item.description}}</ion-label>-->

      <ion-label slot="end">{{item.price}} CHF </ion-label>

      <!-- <ion-button color="warning" (click)="locateItem(item)">Locate item</ion-button>
      <ion-button color="danger" (click)="update()">Supprimmer l'item</ion-button>-->

    </ion-item>
  </ion-list>

  <ion-list>
    <h2>Liste des points de ventes</h2>
    <ion-item (click)="openSalepoint(salepoint)" *ngFor="let salepoint of salepoints">
      <ion-label>{{salepoint.address}}</ion-label>
     <!-- <ion-item-option (click)="openSalepoint(salepoint)">Salepoint detail </ion-item-option>-->
    </ion-item>

  </ion-list>




</ion-content>
