<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>
    <button type="button"(click)="addItem()">Add all item </button>
  </p>
  <p>
    <button type="button"(click)="addSalepoint()">Add all addSalepoint </button>
  </p>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label>{{item.name}}</ion-label>
      <ion-label>{{item.description}}</ion-label>
      <ion-label>{{item.price}} CHF </ion-label>
      <!-- <ion-button color="danger" (click)="update()">Supprimmer l'item</ion-button>-->
      <ion-badge color="success">{{item.label}}</ion-badge>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let salepoint of salepoints">
      <ion-label>{{salepoint.address}}</ion-label>
      <ion-item-option (click)="openSalepoint(salepoint)">Salepoint detail </ion-item-option>
    </ion-item>

  </ion-list>



</ion-content>
