<ion-header>
  <ion-toolbar>
    <ion-title>Update {{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>
  </h2>

  <form #itemForm="ngForm" (submit)="updateItems(itemForm)">

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input  value="custom" type="text" #name = "ngModel" placeholder="Name" [(ngModel)]="data.name"
        name="Name" required>
      </ion-input>
  </ion-item>

      <ion-item lines="none" *ngIf="name.invalid && name.touched">
        <ion-text color="danger">Name is required.</ion-text>
      </ion-item>

  <ion-item>
    <ion-label position="floating">Type de produits</ion-label>
    <ion-select placeholder="Select type" [(ngModel)]="data.type" [ngModelOptions]="{standalone: true}">
      <ion-select-option *ngFor="let type of types" [value]="type.val">{{type.val}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Picture</ion-label>
      <ion-input type="text" placeholder="Picture" [(ngModel)]="data.picture"
      name="Picture" ></ion-input>
  </ion-item>

    <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number" #price = "ngModel"placeholder="Price" [(ngModel)]="data.price"
        name="Price" required ></ion-input>
    </ion-item>

      <ion-item lines="none" *ngIf="price.invalid && price.touched">
        <ion-text color="danger">Price is required.</ion-text>
      </ion-item>

      <ion-item>

      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" placeholder="Description" [(ngModel)]="data.description"
      name="Descritpion" ></ion-input>
      </ion-item>

    <ion-item>
      <ion-label position="floating">Label</ion-label>
    <ion-select placeholder="Select type" [(ngModel)]="data.label" [ngModelOptions]="{standalone: true}" >
      <ion-select-option *ngFor="let label of labels" [value]="label.val">{{label.val}}</ion-select-option>
    </ion-select>

      </ion-item>



    <ion-button type="submit" xpand="block" [disabled]="itemForm.invalid">Submit</ion-button>

  </form>

  <ion-text color="success" *ngIf="postOK">
    {{data.name}} mis à jour</ion-text>

</ion-content>
