<!-- <ion-header translucent="true">
  <ion-toolbar>
    <ion-title size="large">Salepoint</ion-title>
    <ion-buttons slot="end">
      <ion-button click="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
-->

<ion-header  >
  <div class="divimg">

   <!-- <ion-img class="imgTitle" *ngIf="data.picture" [src]="salepoint.picture"></ion-img> --> 

  </div>
  
  
  <div>
    
      
      <ion-buttons class="quit" slot="end">
    <ion-button  (click)="dismissModal()">
      <ion-icon size="large" class="croix" name="close-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  </div>
    
  
</ion-header> 
<ion-content>
  
  <div class="section">
    <h1>Point de vente </h1>
  <!-- <ion-item >
    <ion-label>Point de vente de la {{data.address}}</ion-label>

  </ion-item>
-->
<p class="address">{{data.address}}</p> 
</div>

  
 

<div class="section">
 <h4>Mode de paiement</h4>
    
    <p>
      
      <ion-chip>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>{{data.paymentMethod}}</ion-label>
      </ion-chip>
      
      
    </p>

  
</div>

  <!-- <ion-item >
    <ion-label> Date de création :{{data.creationDate}} </ion-label>
  </ion-item>-->

  <h2>Liste des items </h2>

  

  <swiper [slidesPerView]="2.5" [scrollbar]="{hide: true}"[freeMode]="true" > 
    <ng-template swiperSlide *ngFor="let item of items">
      <ion-card (click)="openItem(item)">
        <!--<ion-card-header class="cardHeader">-->
          <div class="divImage">
          <!-- <img class="imageItem" *ngIf="item.picture" [src]="item.picture" />-->
          
            <ion-img class="imageItem" *ngIf="item.picture" [src]="item.picture"></ion-img>
          
          </div>
        <!--</ion-card-header>-->
      
        <ion-card-content>

          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-card-subtitle>{{item.price}} CHF</ion-card-subtitle>
          <ion-chip>
            
            <ion-label>{{item.label}}</ion-label>
          </ion-chip>
          <!-- <p class="descriptionItem">{{item.description}}</p>-->
        </ion-card-content>
      </ion-card>
    </ng-template>
    
    
  </swiper>


  
<!--
  <ion-item *ngFor="let item of items">
    <ion-label>{{item.name}}</ion-label>
    <ion-label>{{item.description}}</ion-label>
    <ion-label>{{item.price}} CHF </ion-label>
    <ion-thumbnail slot="start">
      <img *ngIf="item.picture" [src]="item.picture" />
    </ion-thumbnail>
    <ion-item-option (click)="openItem(item)">Item detail </ion-item-option> -->
    <!-- <ion-button color="danger" (click)="update()">Supprimmer l'item</ion-button>-->
    <!--<ion-badge color="success">{{item.label}}</ion-badge>
  </ion-item>-->

</ion-content>
