<ion-header>
  <ion-toolbar>
    <ion-title>createItem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (submit)="createItem()">
    <ion-input type="text" placeholder="Name" [(ngModel)]="items.name"
      name="Name" required></ion-input>
  <ion-item>
    <ion-label>Type de produit </ion-label>
    <ion-select placeholder="Select type" [(ngModel)]="items.type" [ngModelOptions]="{standalone: true}">
      <ion-select-option *ngFor="let type of types" [value]="type.val">{{type.val}}</ion-select-option>
    </ion-select>
  </ion-item>

      <ion-input type="text" placeholder="Picture" [(ngModel)]="items.picture"
      name="Picture" ></ion-input>

      <ion-input type="number" placeholder="Price" [(ngModel)]="items.price"
      name="Price" required ></ion-input>

      <ion-input type="text" placeholder="Description" [(ngModel)]="items.description"
      name="Descritpion" required ></ion-input>

    <ion-item>
    <ion-label>Type de produit </ion-label>
    <ion-select placeholder="Select type" [(ngModel)]="items.label" [ngModelOptions]="{standalone: true}">
      <ion-select-option *ngFor="let label of labels" [value]="label.val">{{label.val}}</ion-select-option>
    </ion-select>
  </ion-item>
      <ion-input type="text" placeholder="UserId" [(ngModel)]="items.userId"
      name="userId" required ></ion-input>

      <ion-item>
          <ion-label>Point de vente</ion-label>
          <ion-select placeholder="Select type" [(ngModel)]="items.salepointId" [ngModelOptions]="{standalone: true}">
            <ion-select-option *ngFor="let salepoint of salepoints" [value]="salepoint._id">{{salepoint.address}}</ion-select-option>
          </ion-select>
       </ion-item>



    <ion-button type="submit">Submit</ion-button>
  </form>

  <p>Hello {{ greeting }}</p>


</ion-content>
