<ion-header>
  <ion-toolbar>
    <ion-title>Layout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map"
  leaflet
  [leafletOptions]="mapOptions"
  [leafletLayers]="mapMarkers"
  (leafletMapReady)="onMapReady($event)">
</div>

</ion-content>
<ion-footer>
  <ion-button (click)="goHome()">  Home page </ion-button>
  <ion-button (click)="goProfile()"> My profile </ion-button>
</ion-footer>
