<ion-header>
  <ion-toolbar>
    <ion-title>Layout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>



  <!-- Sheet Modal
  [backdropDismiss]="false"
  -->

<ng-template>


  <ion-content>


  </ion-content>
</ng-template>



  <div class="map"
  leaflet
  [leafletOptions]="mapOptions"
  [leafletLayers]="mapMarkers"
  (leafletMapReady)="onMapReady($event)">
</div>

</ion-content>

<ion-footer>

</ion-footer>
