h1, p, h4, h3, h2{
    margin-left: 10px;
    
}
h1{

    line-height: 1em;
    font-weight: bolder;
    font-size: xx-large;
    
}
.titleItem{
    font-size: 17px;
    margin-left: 0px;
    margin-bottom: 3px;
}
p{
    margin-bottom: 20px;
    text-align: left;
}
h4{

    font-weight: lighter;
}
.section{
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-bottom: 20px;
}
.croix{
    color: rgb(175, 175, 175);
    border-radius: 20px;
}
.create, .deco{
    margin-top: 20px;
    
}
.deco{

    color: rgb(168, 168, 168);
    text-align: center;

}







