<ion-header>
  <ion-toolbar>
    <ion-title>createSalepoint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #salepointForm = "ngForm" (submit)="createSalepoint(salepointForm)">
    <ion-input type="text" placeholder="Type" [(ngModel)]="salepoints.location.type"
      name="Type" required></ion-input>

      <ion-input type="number" placeholder="Coordinate" [(ngModel)]="salepoints.location.coordinates"
      name="Coordinate" required></ion-input>


      <ion-input type="address" #address= "ngModel"placeholder="Address" [(ngModel)]="salepoints.address"
      name="Address" required min-length="1" max-length="200" ></ion-input>

      <ion-item lines="none" *ngIf="address.invalid && address.touched">
        <ion-text color="danger">Address is required.</ion-text>
      </ion-item>

      <ion-input type="text" placeholder="Picture" [(ngModel)]="salepoints.picture"
      name="Picture" ></ion-input>

      <ion-item>
        <ion-label>Type payment </ion-label>
        <ion-select placeholder="Select type" [(ngModel)]="salepoints.paymentMethod" [ngModelOptions]="{standalone: true}"[selectedText]="paymentMethods[0].val">
          <ion-select-option *ngFor="let payment of paymentMethods" [value]="payment.val">{{payment.val}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-input type="text" placeholder="UserId" [(ngModel)]="salepoints.userId"
      name="userId" required ></ion-input>

    <ion-button type="submit" [disabled]="salepointForm.invalid" >Submit</ion-button>
  </form>

</ion-content>
