<ion-header>
  <ion-toolbar>
    <ion-title>createSalepoint</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

<div class="map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers"
    (leafletMapReady)="onMapReady($event)" (leafletClick)="displayCoord()">
  </div>  
  <form #salepointForm = "ngForm" (submit)="createSalepoint(salepointForm)">

      <ion-input placeholder="Coordinate" #location="ngModel" [(ngModel)]="salepoints.location.coordinates"
      name="Coordinate" required></ion-input>



      <ion-input type="text" #address="ngModel"placeholder="Address" [(ngModel)]="salepoints.address"
      name="Address" required min-length="6" max-length="200" ></ion-input>

      <ion-item lines="none" *ngIf="address.invalid && address.touched">
        <ion-text color="danger">Address is required.</ion-text>
      </ion-item>

      <ion-input type="text" placeholder="Picture" [(ngModel)]="salepoints.picture"
      name="Picture" ></ion-input>


    <ion-button (click)="takePicture()">Take picture</ion-button>
    <img *ngIf="salepoints.picture" [src]="salepoints.picture" />

      <ion-item>
        <ion-label>Type payment </ion-label>

          <!-- une seul valeur selection en raison de la valeur attendu par l'api sinon pour un tab:-->
          <!--  <ion-select multiple="true" [value]="['Cash', 'Card']"></ion-select>-->
        <ion-select placeholder="Select type" [(ngModel)]="salepoints.paymentMethod" [ngModelOptions]="{standalone: true}">
          <ion-select-option *ngFor="let payment of paymentMethods" [value]="payment.val">{{payment.val}}</ion-select-option>
        </ion-select>
      </ion-item>


 <ion-button type="submit" (click)="dismiss()" [disabled]="salepointForm.invalid">Submit</ion-button>
 <ion-text color="danger" *ngIf="postError" 
 >Erreur: {{errorMsg}}</ion-text>

 <ion-text color="danger" [innerHTML]="errorComplte"></ion-text>
  </form>


  <ion-text color="success" *ngIf="postOk"
  >Crée avec succès</ion-text>





</ion-content>
