<ion-header>
  <div class="divimg">

    <ion-img class="imgTitle" [src]="data.picture"></ion-img>

  </div>

  <div>
    
      
    <ion-buttons class="quit" slot="end">
  <ion-button  (click)="dismissModal()">
    <ion-icon size="large" class="croix" name="close-circle"></ion-icon>
  </ion-button>
</ion-buttons>

</div>

</ion-header>

<ion-content>
  
  <div class="container">
    <div class="title">
      <h1 class="titleItem">{{data.name}}</h1>
      <p class="typeItem">{{data.type}}</p>
  </div>

    <div class="prix">
      <p class="priceLabel">{{data.price}}.-</p>
    </div>


  </div>
  <div class="section">
    <h4>Label</h4>
  <p>

    <ion-chip>
      <ion-label>{{data.label}}</ion-label>
    </ion-chip>

  </p>
</div>
<h4>Description</h4>
<p>{{data.description}}</p>
<h4>Point de vente </h4>
<ion-item *ngFor="let salep of salepoints">
  <p class="priceLabel" (click)="openSalepoint(salep)">{{salep.address}}</p>
</ion-item>
  
</ion-content>
